body{
    background: hsl(212, 45%, 89%);
}
/* Body of the card */
.card{
    background: hsl(0, 0%, 100%);
    width: 280px;
    padding: 17px;
    border-radius: 18px;
    margin: 10% auto;
}
/* Qr code image */
#qrcode{
    width: 280px;
    border-radius: 13px;
}
/* Write ups */
.writeup{
    font-family: Outfit;
    text-align: center;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}
h1{
    font-size: 1.4rem;
}
/* Fonts */
@font-face {
    font-family: Outfit;
    src: url(/Fonts/Outfit-Regular.ttf);
}
@font-face {
    font-family: Outfit-Bold;
    src: url(/Fonts/Outfit-Bold.ttf);
}
/* Media-Query (Mobile)*/
@media (min-width:357px) {
    .card {
        background: hsl(0, 0%, 100%);
        width: 280px;
        padding: 17px;
        border-radius: 30px;
        margin: 10% auto;
    }

@media (max-width:1250px) {
    .card {
            background: hsl(0, 0%, 100%);
            width: 280px;
            padding: 17px;
            border-radius: 30px;
            margin: 50% auto;
            font-size: 1.4rem;
        }
}